
<main class="bg-gradient-to-t from-blue-950 to-blue-300 h-screen flex flex-col items-center justify-center">
  <span class="text-xl text-gray-900 mb-2">Todo Task App</span>
  <div class="h-[400px] w-80 md:w-[700px] mx-5 rounded-md shadow-md bg-blue-700/60 border border-blue-950 p-2 text-gray-100">
    <router-outlet />
  </div>
  <div class="text-gray-400 mb-3">Download code <a class="underline" href="https://github.com/HenryBJ/angular-ex" alt="source">frontend</a> and <a class="underline" href="https://github.com/HenryBJ/angular-ex-backend" alt="source">backend</a>, developed by <a class="underline" href="http://joseenrique.dev?s=todo" alt="website">Jose Enrique</a></div>
  <a class="libutton" href="https://www.linkedin.com/comm/mynetwork/discovery-see-all?usecase=PEOPLE_FOLLOWS&followMember=joseenrique" target="_blank">Follow me on LinkedIn</a>
</main>



